.mat-card-title
{
  font-size: 25px;
  text-shadow: 5px 5px 6px rgb(0, 0, 0);
  color: aliceblue;
}


.mat-card
{

  /* border: 2px solid rgb(212, 210, 210); */
  border-radius: 10px;
  box-shadow: 1px 1px 4px rgb(19, 19, 19) ;
  background-color: rgba(137, 43, 226, 0.219);
}

body { background-color: black; }



.container
{
  margin-bottom: 30px;
}
